# Visual Studio Code 配置
.vscode/
.trae/
.obsidian/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
test.py

魔法方法.md

# Clangd 编译数据库
compile_commands.json
.idea/
.clangd
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
